---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Fenicio - Inicio">
  <section class="card">
    <h1>Fenicio (Astro)</h1>
    <p>Linea de migracion iniciada desde la replica local.</p>
    <p><a href="/blog/">Ir al blog</a></p>
  </section>
</BaseLayout>
